footer {
    height: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    z-index: 10000;
    padding: 3vh 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo {
    vertical-align: middle;
    color: #fff200;
    width: 15%;
    font-size: 32px;
}

footer .logo-flex {
    vertical-align: middle;
    align-items: center;
    display: flex;
    color: #fff200;
    font-size: 32px;
}

footer .logo-flex span {
    margin-left: 5%;
    font-family: 'RussoOne', sans-serif;
}

footer .footer_main_menu {
    font-size: 20px;
    width: 25%;
}

footer .footer_menu_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer_main_menu .footer_menu_wrapper span {
    margin: 10px 0;
    width: 30%;
    display: inline-block;
}

footer .contact_panel {
    font-size: 20px;
}

footer .contact_panel_wrapper {
    float: right;
}

footer .contact_panel div {
    display: inline-block;
}

footer .action_get_call {
    margin-bottom: 10px;
}

footer .contact_panel .socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .contact_panel img {
    width: 32px;
}

footer .legal_information {
    font-size: 16px;
}

@media (max-width: 1252px) {
    footer .footer_main_menu {
        font-size: 15px;
        width: 20%;
    }

    footer .legal_information {
        font-size: 12px;
    }
}

@media (max-width: 1216px) {
    footer .logo {
        width: 20%
    }

    footer .logo .logo-flex span {
        font-size: 22px;
        width: 35%;
    }

    footer .logo img {
        width: 20%;
    }
}

@media (max-width: 968px) {
    footer .logo {
        width: 10%;
    }

    footer .logo img {
        width: 40%;
    }

    footer .legal_information {
        font-size: 10px;
    }

    footer .contact_panel {
        font-size: 16px;
    }

    footer .contact_panel img {
        width: 24px;
    }
}

@media (max-width: 828px) {
    footer .legal_information {
        width: 22%;
    }

    footer .footer_main_menu {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    footer .logo {
        width: 35%;
    }

    footer .logo img {
        width: 20%;
    }

    footer .contact_panel {
        display: none;
    }

    footer .footer_main_menu {
        display: none;
    }

    footer .contact_panel {
        font-size: 16px;
    }

    footer .legal_information {
        width: 60%;
        text-align: right;
    }
}