header {
    background-color: rgba(0, 0, 0, 0.75);
    height: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    position: fixed;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    vertical-align: middle;
    color: #fff200;
    width: 15%;
    font-size: 32px;
}

header .logo-flex {
    vertical-align: middle;
    align-items: center;
    display: flex;
    color: #fff200;
    font-size: 32px;
}

header .logo-flex h1 {
    font-weight: normal;
    font-size: 32px;
    margin-left: 5%;
    font-family: Kurale, serif;
}

header .main_menu_mobile {
    display: none;
}

header .main_menu, header .main_menu_mobile {
    font-size: 16px;
}

header .main_menu ul, header .main_menu_mobile ul {
    list-style-type: none;
    display: flex;
    text-shadow: 0 4px 15px #000000;
}

header .main_menu li, header .main_menu_mobile li {
    margin: 0 25px;
    cursor: pointer;
}

header a.active {
    position: relative;
}

header a.active::after {
    content: "";
    background: rgba(255, 242, 0, 0.75);
    position: absolute;
    bottom: -1vh;
    left: -10%;
    width: 120%;
    height: 4px;
    border-radius: 15px;
}

header .contact_panel {
    width: 15%;
    font-size: 20px;
}

header .contact_panel_wrapper {
    float: right;
}

header .contact_panel div {
    display: inline-block;
}

header .action_get_call {
    margin-bottom: 10px;
}

header .contact_panel .socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .contact_panel img {
    width: 24px;
}

@media (max-width: 1216px) {
    header .logo {
        width: 20% !important;
    }

    header .logo .logo-flex h1 {
        font-size: 22px;
        width: 35%;
    }

    header .logo img {
        width: 20%;
    }

    header .main_menu li, header .main_menu_mobile li {
        margin: 0 10px;
        font-size: 12px;
    }

    header .contact_panel {
        width: 20%;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header .main_menu {
        display: none;
    }

    header .main_menu_mobile {
        display: block;
    }

    header .logo {
        width: 35% !important;
    }

    header .logo img {
        width: 20%;
    }

    header .main_menu_mobile {
        background-image: url("/images/menu.svg");
        width: 24px;
        height: 24px;
    }

    header .main_menu_mobile > ul {
        display: none;
        position: absolute;
        width: 40%;
        left: 30%;
        top: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.85);
    }

    header .main_menu_mobile ul li {
        margin: 0;
        padding: 10% 0;
        text-align: center;
        font-size: 24px;
    }

    header .contact_panel {
        width: 35%;
    }

    header .contact_panel .action_get_call {
        margin-bottom: 5px;
    }

    header .contact_panel .socials a {
        width: 24px;
        height: 24px;
    }

    header .contact_panel .socials a img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 418px) {
    header .contact_panel {
        font-size: 12px;
    }

    header .main_menu_mobile ul li {
        font-size: 16px;
    }

    header .contact_panel .socials a {
        width: 18px;
        height: 18px;
    }

    header .contact_panel .socials a img {
        width: 18px;
        height: 18px;
    }
}
