@import "preview.css";

.category_services .service {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 25vh auto;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 85);
    padding: 5vh;
}

.category_services .service_wrapper {
    display: flex;
    justify-content: space-between;
}

.category_services .service_wrapper .service_info {
    max-width: 50%;
    margin-right: 15%;
}

.category_services .service_wrapper .service_info .service_title {
    color: #fff200;
    font-size: 40px;
    margin-bottom: 3vh;
}

.category_services .service_wrapper .service_info .service_description {
    font-size: 24px;
}

.category_services .service_wrapper .subservice_info {
    position: relative;
    font-size: 22px;
}

.category_services .service_wrapper .subservice_info:after {
    content: '';
    width: 40px;
    height: 5px;
    background-color: #fff200;
    position: absolute;
    left: -60px;
    border-radius: 15px;
    top: calc(50% - 2.5px);
}

.category_services .service .sign_up {
    text-align: right;
}

@media (max-width: 1510px) {
    .category_services .service_wrapper .service_info .service_title {
        font-size: 34px;
    }

    .category_services .service_wrapper .service_info .service_description {
        font-size: 20px;
    }

    .category_services .service_wrapper .subservice_info {
        font-size: 18px;
    }

    .category_services .service_wrapper .subservice_info:after {
        width: 25px;
        left: -35px;
        height: 3px;
    }
}

@media (max-width: 1106px) {
    .category_services .service_wrapper .service_info .service_title {
        font-size: 26px;
    }

    .category_services .service_wrapper .service_info .service_description {
        font-size: 16px;
    }

    .category_services .service_wrapper .subservice_info {
        font-size: 14px;
    }
}

@media (max-width: 852px) {
    .category_services .service_wrapper .service_info .service_title {
        font-size: 22px;
        margin-bottom: 1vh;
    }

    .category_services .service_wrapper .service_info .service_description {
        font-size: 16px;
    }

    .category_services .service_wrapper .subservice_info {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .category_services .service {
        margin: 15vh auto;
    }
    .category_services .service_wrapper .service_info {
        max-width: 100%;
        margin-right: 0;
    }

    .category_services .service_wrapper .service_info .service_title {
        font-size: 18px;
    }

    .category_services .service_wrapper {
        flex-direction: column;
    }

    .category_services .service_wrapper .subservices_info {
        margin-top: 10%;
    }

    .category_services .service_wrapper .subservice_info {
        margin-left: 20px;
        margin-top: 1%;
    }

    .category_services .service_wrapper .subservice_info:after {
        width: 14px;
        left: -20px;
        height: 2px;
        top: calc(50% - 1px);
    }
}

@media (max-width: 522px) {
    font-size: 14px;
}
