.about_us_mobile {
    display: none;
}

.about_us .first_line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3vh;
}

.about_us .about_us_main {
    width: 45%;
}

.about_us .second_line {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.about_us .about_us_secondary {
    width: 45%;
}

.about_us img {
    width: 25%;
}

.about_us .about_us_secondary .direction {
    display: block;
}

@media (max-width: 1440px) {
    .about_us .images {
        margin: 3vh auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 1216px) {
    .about_us .container {
        font-size: 24px;
    }
}

@media (max-width: 1216px) {
    .about_us .container {
        font-size: 18px;
    }

    .about_us img {
        width: 25%;
    }
}


@media (max-width: 768px) {
    .about_us {
        display: none;
    }

    .about_us_mobile {
        display: block;
    }

    .about_us_mobile .container {
        font-size: 18px;
    }

    .about_us_mobile .images {
        margin: 5vh auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about_us_mobile img {
        width: 48%;
        height: auto;
        margin: 3px;
    }
}