.specials {
    padding: 2vh 0;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 50px 35px rgba(0, 0, 0, 0.95);
}

.specials .main_wrapper {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    white-space: nowrap;
}

.specials .main_wrapper span.slider_item {
    display: inline-block;
    width: 32.5%;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    cursor: default;
    padding: 30px 0;
    border-radius: 15px;
}

.specials_item {
    padding: 5vh 0;
    border-radius: 20px;
}

.customizeTooltip {
    border: 1px solid #fff200 !important;
    padding: 10px;
    background: transparent;
    color: #fff;
    text-align: center;
}

@media (max-width: 1728px) {
    .specials .main_wrapper span.slider_item {
        font-size: 14px;
    }
}

@media (max-width: 1216px) {
    .specials .main_wrapper span.slider_item  {
        width: 32%;
    }
}

@media (max-width: 768px) {
    .specials .main_wrapper span.slider_item  {
        width: 31%;
        padding: 0;
        height: 10vh;
        transition: transform 0s;
    }

    .specials .main_wrapper span.slider_item span.slider_item_flex_wrapper  {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .specials .main_wrapper span.slider_item span.slider_item_flex_wrapper p  {
        white-space: break-spaces;
        text-align: center;
        margin: 0 auto;
    }

    .specials span.prev, .specials span.next {
        display: none;
    }

    .specials .main_wrapper {
        width: 100%;
    }
}

